---
apiVersion: v1
kind: Pod
metadata:
  name: {{ airflow_release_name }}-airflow-worker
spec:
  containers:
    - env:
        - name: AIRFLOW__CORE__EXECUTOR
          value: LocalExecutor
        # Hard Coded Airflow Envs
        - name: AIRFLOW__CORE__FERNET_KEY
          valueFrom:
            secretKeyRef:
              name: {{ airflow_release_name }}-fernet-key
              key: fernet-key
        - name: AIRFLOW__CORE__SQL_ALCHEMY_CONN
          valueFrom:
            secretKeyRef:
              name: {{ airflow_release_name }}-airflow-metadata
              key: connection
        - name: AIRFLOW_CONN_AIRFLOW_DB
          valueFrom:
            secretKeyRef:
              name: {{ airflow_release_name }}-airflow-metadata
              key: connection
      image: docker.io/apache/airflow:2.2.5-python3.8
      imagePullPolicy: IfNotPresent
      name: base
      volumeMounts:
        - mountPath: "/opt/airflow/logs"
          name: airflow-logs
        - mountPath: /opt/airflow/dags
          name: airflow-dags
          readOnly: true
        - mountPath: /opt/airflow/airflow.cfg
          name: airflow-config
          readOnly: true
          subPath: airflow.cfg
  restartPolicy: Never
  securityContext:
    runAsUser: 50000
    fsGroup: 100
  serviceAccountName: "{{ airflow_release_name }}-airflow-worker-serviceaccount"
  volumes:
    - name: airflow-dags
      persistentVolumeClaim:
        claimName: {{ airflow_release_name }}-dags
    - emptyDir: {}
      name: airflow-logs
    - configMap:
        name: {{ airflow_release_name }}-airflow-config
      name: airflow-config
