[ALL]
airflow1
airflow2
airflow3

[AIRFLOW]
airflow1
airflow2
airflow3

[all:vars]

[AIRFLOW:vars]
python_version=python38
k8s_version=1.21.3

airflow_version=2.2.4
airflow_uid=50000
airflow_gid=100
airflow_group=users
airflow_home=/opt/airflow

airflow_release_name=homelab
airflow_url=http://192.168.11.120:8080/
airflow_extra_packages=celery,google_auth,kubernetes,postgres,s3

airflow_core_default_timezone=Asia/Seoul
airflow_core_executor=KubernetesExecutor
airflow_core_load_examples=False

airflow_logging_remote_logging=True
airflow_logging_remote_log_conn_id=nectarine
airflow_logging_remote_base_log_folder=s3://airflow/logs
airflow_logging_encrypt_s3_logs=False

airflow_kubernetes_worker_container_repository=docker.io/apache/airflow
airflow_kubernetes_worker_container_tag=2.2.5-python3.8
airflow_kubernetes_namespace=airflow
airflow_kubernetes_in_cluster=False
airflow_kubernetes_delete_worker_pods=True
airflow_kubernetes_delete_worker_pods_on_failure=False
